*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(0, 0, 0);
}

main {
    background-color: rgb(61, 129, 255);
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px;
}

img.lado {
    float: right;
}

h1{
    font-size: 2em;
    color: darkblue;
}

h2{
    font-size: 1.5em;
    color: darkblue;
}